@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--primary-color-light: #4a90e2;
	--secondary-color-light: #50e3c2;
	--background-color-light: #ffffff;
	--sidebar-background-light: #34495e;
	--text-color-light: #333333;
	--accent-color-light: #ff6f61;

	/* Dark Mode Colors */
	--primary-color-dark: #1e2a3a;
	--secondary-color-dark: #5bc0be;
	--background-color-dark: #121212;
	--sidebar-background-dark: #1c2532;
	--text-color-dark: #e4e4e4;
	--accent-color-dark: #ff6f61;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Open Sans", apple-system, sans-serif;
}

body {
	background-color: var(--background-color-light);
	color: var(--text-color-light);
	transition: all 0.3 ease;
}

body.dark-mode {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
}

#app {
	display: grid;
	grid-template-areas: "header header" "sidebar window" "footer footer";
	grid-template-columns: 1fr 9fr;
	width: 100%;
	background-color: inherit;
	color: inherit;
}

nav {
	grid-area: header;
	background-color: var(--sidebar-background-light);
	margin-bottom: 10px;
}

body.dark-mode nav {
	background-color: var(--sidebar-background-dark);
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--sidebar-background-dark);
	color: #fff;
	height: 100%;
	padding: 20px;
}

body.dark-mode .sidebar {
	background-color: var(--sidebar-background-light);
}

.list-group {
	border-top: solid var(--secondary-color-light) 1px;
	border-bottom: solid var(--secondary-color-light) 1px;
}

.list-group-item {
	background-color: var(--sidebar-background-light);
	border-color: var(--secondary-color-light);
}

.list-group-item a,
.list-group-item {
	color: #fff;
}

footer {
	grid-area: footer;
}

#app-content {
	padding: 30px;
}

.show-window {
	display: grid;
}

.show-window.open {
	grid-template-areas: "show-list";
}

.show-window.open {
	grid-template-areas: "show-list show-detail";
	grid-template-columns: 1fr 2fr;
}

.show-search {
	margin-left: 10px;
}

.show-list {
	grid-area: show-list;
}

.show-detail {
	grid-area: show-detail;
	position: relative;
}

.show-detail-content {
	position: sticky;
	top: 0;
}

.show-item {
	width: auto;
	max-width: 250px;
	height: min-content;
	display: inline-block;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: solid var(--secondary-color-light) 2px;
}

body.dark-mode .show-item {
	background-color: var(--sidebar-background-dark);
	color: var(--text-color-dark);
}

.show-item .card-title {
	font-size: 1.7rem;
	font-weight: 600;
}

.show-window.open .show-item {
}

.show-item img {
	height: auto;
	width: 250px;
}

.show-item button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.row {
	margin: 0;
}
